.primary-background {
    -fx-background-color: #FAEBEF;
}
.secondary-background {
    -fx-background-color: #ebf7fa;
}
.card{
    -fx-background-color:#ffff;
    -fx-background-radius:30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1),10.0,0,0,10.0);

}